.addPubVisitPage {
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.addVisitContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 50%;
}

.introText {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 500;
}

.submitButton {
  margin-top: 5%;
  background-color: #ef6767;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  font-weight: 600;
  color: white;
  box-sizing: border-box;
  align-self: center;
  cursor: pointer;
  &:hover {
    color: #000000;
    background-color: white;
  }
}

.commentDesc {
  font-weight: 500;
}
