.navBar {
    height: 100%; /* 100% Full-height */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #5970C1;
    width: 300px;
  }

.profileButtons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.navBarHeader {
  color: white;
}

.nameHeader {
  color: white;
}

.avatar {
  margin-left: 28%;
  margin-top: 20%;
  position: relative;
}