.cardContainer{
    background-color: #EF6767;
    color: white;
    padding: 10px;
    max-height: 70px;
    border-radius: 10px;
    margin: 10px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px #b5b5b5;
    
}

.pubName {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}