.registerPage {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.registerContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 450px;
}

.doubleField {
  display: flex;
  justify-content: space-between;
}

.registerIntroText {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
}
